:root {
    --background-color: #f4f4f4;
    --text-color: #333;
    --input-bg-color: #fff;
    --input-text-color: #333;
    --container-background: #fff;
    --container-shadow: rgba(0, 0, 0, 0.1);
    --button-background: #007BFF;
    --button-hover: #0056b3;
    --button-disabled: #b9dbff;
    --button-disabled-text: #fff;
    --copy-button-background: #28a745;
    --copy-button-hover: #218838;
    --delete-button-background: #f60101;
    --delete-button-hover: #930000;
    --tooltip-background: #555;
    --tooltiptext-color: #fff;
    --language-selector-background: #fff;
    --logo-filter: invert(0%);
    --link: #007BFF;
    --blockquote: #fff7e7;
    --blockquote-good: #f0f7ff;
    --inactive-border: #d1d1d1;
    --channel-color-1: #ad6ae6;
    --channel-color-2: #6c6ae6;
    --channel-color-3: #e7835d;
    --channel-color-4: #40bc89;
}

.dark-theme {
    --background-color: rgb(33, 37, 41);;
    --text-color: #a0a0a0;
    --input-bg-color: #333;
    --input-text-color: #f4f4f4;
    --container-background: rgb(36, 43, 48);
    --container-shadow: rgba(255, 255, 255, 0.1);
    --button-background: #275590;
    --button-hover: #0056b3;
    --button-disabled: #434343;
    --button-disabled-text: #6b6b6b;
    --copy-button-background: #35804d;
    --copy-button-hover: #218838;
    --delete-button-background: #e60000;
    --delete-button-hover: #930000;
    --tooltip-background: #2b2b2b;
    --tooltiptext-color: #e0e0e0;
    --language-selector-background: #333;
    --checkbox-filter: invert(70%) hue-rotate(180deg) contrast(150%);
    --logo-filter: invert(70%);
    --link: #79cbff;
    --blockquote: #262626;
    --blockquote-good: #262626;
    --inactive-border: #4c4c4c;
    --channel-color-1: #5f4575;
    --channel-color-2: #494888;
    --channel-color-3: #744f3f;
    --channel-color-4: #457561;
}

.hidden {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#logo {
    filter: var(--logo-filter);
}

.container {
    max-width: 700px;
    margin: 5px auto;
    margin-top: 16px;    
    margin-bottom: 16px;
    padding: 1px;
    border-radius: 8px;
    box-shadow: 0 0 10px;    
}

.tool {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    margin: 16px auto;
    margin-bottom: 8px;
    padding: 1px 16px;
    background: var(--container-background);
    border: solid 2px;
    border-color: #e2e2e2;
    /* box-shadow: 0 0 10px var(--container-shadow); */
    border-radius: 12px;
}

.tool p {
    color: var(--text-color);
    font-size: 14px;
    line-height: 150%;
}

.tool:hover {
    background: var(--blockquote-good);
    border-color: var(--link);
    color: var(--link);
    cursor: pointer;
}

.tool-link {
    font-size: 24px;
    color: var(--link);
    margin-right: 12px;
}

.back-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    top: 32px;
    left: 50%;
    margin-left: -296px;
    transform: translateX(-50%);
    background-color: var(--blockquote-good);
    border-radius: 8px 0px 20px 0px;
    cursor: pointer;
    border-color: #c8e2ff;

    padding: 12px;
}

.back-button:hover {
    background-color: var(--link);
}

.back-button>svg>path {
    fill: var(--link);
}

.back-button:hover>svg>path {
    fill: var(--tooltiptext-color);
}

@media (max-width: 640px) {


    html {
        max-width: 100%;
        overflow-x: hidden;
    }

    body {
        background: var(--container-background);
        max-width: 100%;
        overflow-x: hidden;
    }

    h3 {
        font-size: 14px;
        margin-block-end: 0px;
    }
    .harmonic-title>h3 {
        margin-block-end: 8px;
        font-size: 15px;

    }

    .tool p {
        font-size: 12px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        color: #555;
        font-size: 12px !important;
    }

    h1 {
        font-size: 22px !important;
    }

    .tooltip .tooltiptext,
    .tooltip .tooltiptext-right,
    .tooltip .tooltiptext-left {
        visibility: hidden;
        line-height: 150%;
    }

    .tooltip:hover .tooltiptext,
    .tooltip:hover .tooltiptext-right,
    .tooltip:hover .tooltiptext-left {
        font-size: 12px;
    }

    input,
    select {
        font-size: 12px;
    }

    #language-selector {
        top: 12px !important;
        font-size: 14px;
    }

    .checkbox_label {
        font-size: 12px !important;

    }

    button {
        font-size: 14px !important;
    }

    .hor-group {

        gap: 6px !important;
    }

    .levels-mob {
        padding: 6px;
    }

    .levels-inputs span {
        margin: 0 3px !important;
    }

    .back-button {
        position: relative;
        border-radius: 32px;
        padding: 10px;
        top: -36px;
        left: 8px;
        margin-bottom: -32px;
        transform: none;
        margin-left: 0px;
    }

    .tool-link {
        font-size: 18px;
        margin-right: 4px;
    }
}

h1 {
    text-align: center;
    color: var(--text-color);
    font-size: 26px;
}

h4 {
    text-align: center;
    color: var(--text-color);
    margin-top: 10;
    font-size: 16px;
    font-weight: normal;
}

.required:after {
    content: "*";
    color: red;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--text-color);
    font-size: 13px;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: var(--input-text-color);
    box-sizing: border-box;
    background-color: var(--input-bg-color);
}

select {
    padding: 10px;
    padding-right: 20px;
    -moz-appearance: none;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23555555%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

/* For IE (thanks to @SaiManoj) */
select::-ms-expand {
    display: none;
}

button {    
    display: block;
    width: 70%;
    padding: 10px;
    background-color: var(--button-background);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:disabled,
button:disabled:hover {
    background-color: var(--button-disabled);
    color: var(--tooltiptext-color);
    cursor: not-allowed;
    color: var(--button-disabled-text);
}

button:hover {
    background-color: var(--button-hover);
}

#result {
    margin-top: 20px;
    position: relative;
}

#result pre {
    background: var(--input-bg-color);
    color: var(--input-text-color);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
    overflow: auto;
}

.vtx-edit {
    width: -webkit-fill-available;
    background: var(--input-bg-color);
    color: var(--input-text-color);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
    /* overflow: auto; */
    min-height: 200px;

}

#copy-button {
    width: 100%;
    padding: 10px;
    background-color: var(--copy-button-background);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

#copy-button:hover,
.add-button:hover {
    background-color: var(--copy-button-hover);
}

.delete-button {
    width: 100%;
    padding: 10px;
    background-color: var(--delete-button-background);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.delete-button:hover {
    background-color: var(--delete-button-hover);
}

.hor-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: flex-end;
    margin-bottom: 15px;
}

.hor-group .flex-child {
    flex: 1;
}

.levels-inputs {
    display: flex;
    margin-top: 10px;

}

.levels-inputs input {
    width: 100%;
}

.levels-inputs span {
    margin: 0 5px;
    line-height: 35px;
}

.toast {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border-radius: 16px;
    z-index: 9999;
    opacity: 0;
    animation: fadeInOut 3s ease forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) translateY(-20px);
    }

    10% {
        opacity: 1;
        transform: translate(-50%, -50%) translateY(0);
    }

    90% {
        opacity: 1;
        transform: translate(-50%, -50%) translateY(0);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) translateY(-20px);
    }
}

.checkbox-container {
    display: flex;
    align-items: stretch;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 12px;
    height: 24px;
    width: 24px;
    filter: var(--checkbox-filter);
    justify-content: flex-start;
}

.checkbox-container label {
    margin-bottom: 0px;
    font-size: 16px;
    align-self: center;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: underline dotted #A4C2FA;
    -webkit-text-decoration: underline dotted #A4C2FA;
    text-underline-offset: 3px;
}

.tooltip .tooltiptext,
.tooltip .tooltiptext-right,
.tooltip .tooltiptext-left {
    visibility: hidden;
    width: 200px;
    font-size: 14px;
    line-height: 150%;
    background-color: var(--tooltip-background);
    color: var(--tooltiptext-color);
    text-align: left;
    border-radius: 8px;
    padding: 8px 10px;
    position: absolute;
    z-index: 1;
    bottom: 145%;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext {
    left: 50%;
    transform: translateX(-50%);
}

.tooltip .tooltiptext-right {
    left: 50%;
    transform: translateX(-88%);
}

.tooltip .tooltiptext-left {
    left: 50%;
    transform: translateX(-12%);
}

.tooltip .tooltiptext::after,
.tooltip .tooltiptext-right::after,
.tooltip .tooltiptext-left::after {
    content: "";
    position: absolute;
    top: 100%;
    border-width: 7px;
    border-style: solid;
    border-color: var(--tooltip-background) transparent transparent transparent;
}

.tooltip .tooltiptext::after {
    left: 50%;
    transform: translateX(-50%);
}

.tooltip .tooltiptext-right::after {
    right: 10%;
}

.tooltip .tooltiptext-left::after {
    left: 10%;
}

.tooltip:hover .tooltiptext,
.tooltip:focus .tooltiptext,
.tooltip:hover .tooltiptext-right,
.tooltip:focus .tooltiptext-right,
.tooltip:hover .tooltiptext-left,
.tooltip:focus .tooltiptext-left {
    visibility: visible;
    opacity: 0.95;
}

.highlighted {
    background-color: #eff6ff;
    padding: 8px;
    border-radius: 6px;
}

.group {
    width: 60%;
    padding: 5px;    
    background: var(--container-background);
    box-shadow: 0 0 10px var(--container-shadow);
    border-radius: 20px;
    opacity: 0.85;
    margin-left: auto;
    margin-right: auto;
}

blockquote {
    background: var(--blockquote);
    margin: 16px 0px;
    padding: 0.5em 10px;
    border-radius: 6px;
    font-size: 14px;
}

blockquote:before {
    color: var(--input-bg-color);
    content: "⚠️";
    font-size: 18px;
    line-height: 0.1em;
    margin-right: 0.25em;
    /* vertical-align: -0.4em; */
}

blockquote p {
    display: inline;
    line-height: 150%;
    color: var(--text-color);
}

blockquote.good {
    background: var(--blockquote-good);
    margin: 16px 0px;
    padding: 0.5em 10px;
    border-radius: 6px;
    font-size: 14px;
}

blockquote.good:before {
    content: none;

}

.ant-page .ch_results {
    padding-top: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.ant-page .ch_result_item {
    background-color: var(--channel-color-1);
    padding: 6px;
    color: white;
    border-radius: 8px;
    font-size: 14px;
}

.ant-page .ch_results.outdated {
    filter: grayscale(100%);
    opacity: 0.4;
}
.outdated {
    filter: grayscale(100%);
    opacity: 0.4;
}

div.container_background {
    max-width: 700px;
    margin: 32px auto;
    margin-bottom: 1px;
    padding: 10px;
    box-shadow: 0 0 10px var(--container-shadow);
    border-radius: 8px;
    background: url(brand.jpg) ;
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;    
    border: 2px solid black;   
  }

  textarea.hidden_textarea {
    width: 100%;     
    height: 200px;
    resize: none; 
    padding: 10px; 
    border-radius: 8px;
    box-sizing: border-box; 
    font-family: monospace;
    display: none;
}  